<h5>{{title}}</h5>
<br>
<form [formGroup]="formCuarto" (ngSubmit)="onSubmit()" class="Cuarto">
    <div class="card-body">
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faDoorClosed"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="num_habitacion" [(ngModel)]="cuarto.num_habitacion" [ngClass]="{'is-invalid': submitted && f.num_habitacion.errors }" type="text" class="form-control form-control-user" placeholder="# de habitaciones">
            </div>
            <div *ngIf="submitted && f.num_habitacion.errors" class="error">
                <strong>El numero de habitacion debe ser un numero!</strong>
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faBed"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="camas" [(ngModel)]="cuarto.camas" [ngClass]="{'is-invalid': submitted && f.camas.errors }" type="text" class="form-control form-control-user" placeholder="Camas">
                
            </div>
            <div *ngIf="submitted && f.camas.errors" class="error">
                <strong>El numero de camas debe ser un numero!</strong>
            </div>
        </div><hr>
        
        
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faMoneyBillWave"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="costo" [(ngModel)]="cuarto.costo" [ngClass]="{'is-invalid': submitted && f.costo.errors }" type="text" class="form-control form-control-user" placeholder="Costo">
            </div>
            <div *ngIf="submitted && f.costo.errors" class="error">
                <strong>El costo debe ser un numero!</strong>
            </div>
        </div><hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUsers"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group mr-12">
                    <select  class="form-control" formControlName="disponibilidad" [(ngModel)]="cuarto.disponibilidad" [ngClass]="{'is-invalid': submitted && f.disponibilidad.errors }" placeholder="Disponibilidad">
                    <option disabled>--Disponibilidad--</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faWind"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="btn-group mr-12">
            <select class="form-control" formControlName="aire" [(ngModel)]="cuarto.aire" [ngClass]="{'is-invalid': submitted && f.aire.errors }" aria-placeholder="">
                <option disabled>----   Aire ---</option>
                <option value="true">Si</option>
                <option value="false">No</option>
            </select>
            
          </div>
            </div>
        </div>
       
       
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faWifi"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group mr-12">
                    <select  class="form-control" name="users" formControlName="internet" [(ngModel)]="cuarto.internet" [ngClass]="{'is-invalid': submitted && f.internet.errors }"  aria-placeholder="">
                    <option disabled>--Internet--</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            </div>
        </div><hr>  
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUsersCog"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group mr-12">
                    <select  class="form-control" name="users" formControlName="compartido" [(ngModel)]="cuarto.compartido" [ngClass]="{'is-invalid': submitted && f.compartido.errors }" aria-placeholder="">
                    <option disabled selected>--Compartido--</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            </div>
        </div>
        
        <hr>

        
        
        <br>
        <div class="btn-group">
            
            <button type="submit"  class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
            &nbsp;&nbsp;<button type="reset" class="btn btn-danger">
                <fa-icon [icon]='faTimes' (click)="onReset()"></fa-icon>&nbsp;Cancelar</button>
        </div>
    </div>
</form>
