<div class="container-fluid" style="text-align: center;">
    <h5>Nacionalidades de los clientes</h5>
</div><hr>

        <app-usuario-statistics></app-usuario-statistics>

<div class="container-fluid" style="text-align: center;">
    <hr>
    <h5>Cantidad de comidas por mes </h5>
    <div class="row">
        <hr>
    
        <div class="col-2" style="text-align: center;"></div>
        <div class="col" style="text-align: center;">
            
            <hr>
            <app-comida-statistics></app-comida-statistics>

        </div>
    </div>
    <hr>
    <h5>Habitaciones disponibles </h5>
    <div class="row">
        <hr>
    
        <div class="col-2" style="text-align: center;"></div>
        <div class="col" style="text-align: center;">
            
            <hr>
            <app-cuarto-statistics></app-cuarto-statistics>

        </div>
    </div>
</div>