<div>
  <div class="media">    
      <div class="media-body">
        <h4 class="media-heading">Gestión del hotel</h4>
        <p>Listado de alojamientos</p>      
      </div>   
    </div>
  <hr/>
  <div class="row">
      <app-habitacion-list [flagToReload]="mainReload"
       (reloadComplete)="reloadDone($event)"
       (userToEdit)="mainUpdate($event)"
       ></app-habitacion-list>
      <hr>
     <app-habitacion-form [habitacion]="mainHabitacion" 
      [title]="mainTitle" 
      (flagToReload)="reloadToDo($event)"
      ></app-habitacion-form>

  <hr>

  </div>
  
  </div>