<h5 style="text-align: center">Listado de Clientes</h5>
<br>
<table  class="table">
    <thead class="thead-dark"> 
        <tr>
            <th>#</th>
            <th><fa-icon [icon]="faIdBadge"></fa-icon><br>  ID</th>
            <th><fa-icon [icon]="faUserAlt"></fa-icon><br> Nombre</th>
            <th><fa-icon [icon]="faUserAlt"></fa-icon><br> Apellido</th>
            <th><fa-icon [icon]="faFlag"></fa-icon><br> Nacionalidad</th>
            <th><fa-icon [icon]="faPhoneAlt"></fa-icon><br> Telefono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr   mdbTableCol *ngFor="let item of usuarios ; let i=index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{item.identification}}</td>
            <td>{{item.nombre | titlecase}}</td>
            <td>{{item.apellido | titlecase}}</td>
            <td>{{item.nacionalidad | titlecase}}</td>
            <td>{{item.telefono}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/user', item.idusuario]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)"><fa-icon [icon]='faPencilAlt'></fa-icon></button>                
                <button class="btn btn-sm btn-danger" (click)="delete(item)"><fa-icon [icon]='faTrash'></fa-icon></button>     
            </td>
        </tr>
    </tbody>
</table>
