<h5 style="text-align: center">Listado de Clientes</h5>
<br>
<table mdbTable class="table" hover="true">

    <thead class="grey lighten-1 black-text"> 
        <tr>
            <td>#</td>
            <td><fa-icon [icon]="faIdBadge"></fa-icon><br>  ID</td>
            <td><fa-icon [icon]="faUserAlt"></fa-icon><br> Nombre</td>
            <td><fa-icon [icon]="faUserAlt"></fa-icon><br> Apellido</td>
            <td><fa-icon [icon]="faFlag"></fa-icon><br> Nacionalidad</td>
            <td><fa-icon [icon]="faPhoneAlt"></fa-icon><br> Telefono</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr   mdbTableCol *ngFor="let item of usuarios ; let i=index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{item.identification}}</td>
            <td>{{item.nombre | titlecase}}</td>
            <td>{{item.apellido | titlecase}}</td>
            <td>{{item.nacionalidad | titlecase}}</td>
            <td>{{item.telefono}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/user', item.idusuario]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)"><fa-icon [icon]='faPencilAlt'></fa-icon></button>                
                <button class="btn btn-sm btn-danger" (click)="delete(item)"><fa-icon [icon]='faTrash'></fa-icon></button>     
            </td>
        </tr>
    </tbody>
</table>
