<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Buscar alojamiento</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
    <table class="table table-hovered">
        <thead>
            <tr>
                <th>Numero de habitacion</th>
                <th>Fecha de Salida</th>
                <th>Observaciones</th>

                <th>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">
                        <fa-icon [icon]='faPlusSquare'></fa-icon>
                    </button>
                </th>                                                        
            </tr>
        </thead><tbody>
            <tr *ngFor="let item of acomms">
                <td>
                    {{item.num_cuarto}}
                </td>
                <td>
                    {{item.fecha_salida}}
                </td>
                <td>
                    {{item.observaciones}}
                </td>
                <td>
                    <button (click)="select(item)" class="btn btn-sm btn-info">
                        <fa-icon [icon]='faCheck'></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
