<h5>Listado de Alojamientos</h5>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col"># de Cuarto</th>
            <th scope="col">Fecha de entrada</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Observaciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of habitacion ; let i=index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{item.num_cuarto}}</td>
            <td>{{item.fecha_entrada}}</td>
            <td>{{item.fecha_salida}}</td>
            <td>{{item.observaciones}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/acomm', item.idhabitacion]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)"><fa-icon [icon]='faPencilAlt'></fa-icon></button>                
                <button class="btn btn-sm btn-danger" (click)="delete(item)"><fa-icon [icon]='faTrash'></fa-icon></button>     
            </td>
        </tr>
    </tbody>
</table>
