<h5>{{title}}</h5>
<br>
<form [formGroup]="formUsuario" (ngSubmit)="onSubmit()" class="user">
    <div class="card-body">
        <div class="input-group-mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faIdCard"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="identification" [(ngModel)]="usuario.identification" [ngClass]="{'is-invalid': submitted && f.identification.errors }" type="text" class="form-control form-control-user" placeholder="ID">
            </div>
        </div>
        <hr>
        <div class="input-group-mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="nombre" [(ngModel)]="usuario.nombre" [ngClass]="{'is-invalid': submitted && f.nombre.errors }" type="text" class="form-control form-control-user" placeholder="Nombre">
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input formControlName="apellido" [(ngModel)]="usuario.apellido" [ngClass]="{'is-invalid': submitted && f.apellido.errors }" type="text" class="form-control form-control-user" placeholder="Apellido">
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faPhone"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                <input formControlName="telefono" [(ngModel)]="usuario.telefono" [ngClass]="{'is-invalid': submitted && f.telefono.errors }" type="text" class="form-control form-control-user" placeholder="Telefono">
                <div *ngIf="submitted && formUsuario.controls.telefono.errors" class="invalid-feedback">
                    Debe ingresar un numero de telefono
                </div>
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faGlobe"></fa-icon></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-select-country appearance="outline" 
                label="Pais"
                class="className-md-3" formControlName="nacionalidad"  [(ngModel)]="usuario.nacionalidad" [ngClass]="{'is-invalid': submitted && f.nacionalidad.errors }" placeholder="Nacionalidad">  
                </mat-select-country>
            </div>
        </div>
        <br>
        <div class="btn-group">
            
            <button type="submit"  class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
            &nbsp;&nbsp;<button type="reset" class="btn btn-danger">
                <fa-icon [icon]='faTimes' (click)="onReset()"></fa-icon>&nbsp;Cancelar</button>
        </div>
    </div>
</form>
