
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Hotel Logo"
    src="https://png.pngtree.com/png-clipart/20200727/original/pngtree-receptionist-bell-hotel-logo-design-png-image_5294385.jpg"
  />
  <span>
     <a routerLink='/'>Inicio</a>
  </span>&nbsp;|&nbsp;
  <span>
    <a routerLink='user'>Huespedes</a>
 </span>&nbsp;|&nbsp;
 <span>
  <a routerLink='acomm'>Alojamientos</a>
</span>&nbsp;|&nbsp;
<span>
  <a routerLink='room'>Cuartos</a>
</span>&nbsp;|&nbsp;
<span>
  <a routerLink='meal'>Registro de comidas</a>
</span>&nbsp;|&nbsp;
<span>
  <a routerLink='service'>Registro de Servicios</a>
</span>&nbsp;|&nbsp;
<span>
  <a routerLink='stats'>Estadisticas</a>
</span>&nbsp;|&nbsp;
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
 
  <!-- Container -->
  <div class="w-100 h-100">
  <router-outlet></router-outlet>
  <!--img src="https://i.imgur.com/pumgFG5.jpg"  style="width:500px;height:600px;" alt="Italian Trulli">
  <img src="https://i.imgur.com/rHlfNcA.jpg"  style="width:500px;height:600px;" alt="Italian Trulli">
  <img src="https://i.imgur.com/ciSp3cb.jpg"  style="width:500px;height:600px;" alt="Italian Trulli">
  <img src="https://i.imgur.com/JaqMvGZ.jpg"  style="width:500px;height:600px;" alt="Italian Trulli"-->

    <br>
    
  </div>

  <!-- Footer -->
  <footer>
    <br>
      &nbsp;Hotel Yuralpa&nbsp;      
  </footer>

  <br>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




