
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Hotel Logo"
    src="https://png.pngtree.com/png-clipart/20200727/original/pngtree-receptionist-bell-hotel-logo-design-png-image_5294385.jpg"
  />
  <span>
     <a routerLink='/'>Inicio</a>
  </span>&nbsp;|&nbsp;
  <span>
    <a routerLink='user'>Huespedes</a>
 </span>&nbsp;|&nbsp;
 <span>
  <a routerLink='cuarto'>Habitaciones</a>
</span>&nbsp;|&nbsp;
</div>

<div class="content" role="main">

  <!-- Highlight Card -->

  <!-- Container -->
  <div class="w-100 h-100">
    <img
    width="100"
    alt="Hotel Logo"
    src="https://png.pngtree.com/png-clipart/20200727/original/pngtree-receptionist-bell-hotel-logo-design-png-image_5294385.jpg"
  />
  <router-outlet></router-outlet>

    <br>
    
  </div>

  <!-- Footer -->
  <footer>
    <br>
      &nbsp;Hotel Yuralpa&nbsp;      
  </footer>
<!--  <app-usuario-form></app-usuario-form>-->
  <br>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




