<div>
    <div class="media">    
        <div class="media-body">
          <h4 class="media-heading">Gestión del hotel</h4>
          <p>Revision de cuartos</p>      
        </div>   
      </div>
    <hr/>
    <div class="row">
      <app-cuarto-list [flagToReload]="mainReload"
      (reloadComplete)="reloadDone($event)"
      (userToEdit)="mainUpdate($event)"
      ></app-cuarto-list>
     <hr>
    <app-cuarto-form [cuarto]="mainCuarto" 
     [title]="mainTitle" 
     (flagToReload)="reloadToDo($event)"
     >
    </app-cuarto-form>

    <hr>

    </div>
    
    </div>