<div class="col-12">
    <div class="breadcumb-area bg-img">		
        <div class="bradcumbContent">
            <h2>Alojamiento</h2>
        </div>
    </div>

    <div class="top-popular-courses-area mt-100 section-padding-100-70">
        <section class="contact-area mt-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">

                                        

<div class="container container-fluid">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
            </div>
            <div class="media-body">
                <small class="media-heading"># de cuarto</small>
                <p class="h6"><strong>{{habitacion.num_cuarto}}</strong></p>
            </div>
        </div>  
        <div class="media">
            <div class="media-left">
            </div>
            <div class="media-body">
                <small class="media-heading">Fecha de entrada</small>
                <p class="h6"><strong>{{habitacion.fecha_entrada}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
            </div>
            <div class="media-body">
                <small class="media-heading">Fecha de salida</small>
                <p class="h6"><strong>{{habitacion.fecha_salida}}</strong></p>
            </div>
        </div>
        
    </div>
<hr>

  <hr>
  
  
</div>    
</div>


