<div class="col-12">
    <div class="breadcumb-area bg-img">		
        <div style="text-align: center" class="bradcumbContent">
            <h2>Cliente: <strong>{{usuario.nombre}} {{usuario.apellido}}</strong> </h2>
        </div>
    </div>
</div>

<div class="container-fluid" style="text-align: center;">    
    <div class="row">
        <div class="col-4">

            <small class="media-heading">Nombre</small><hr>
            <p class="h6"><strong>{{usuario.nombre}}</strong></p>

        </div>
        <div class="col-4">

            <small class="media-heading">Apellido</small><hr>
            <p class="h6"><strong>{{usuario.apellido}}</strong></p>
              
        </div>
        <div class="col-4">

            <small class="media-heading">Pais</small><hr>
            <p class="h6"><strong>{{usuario.nacionalidad}}</strong></p>
            
        </div>
    </div>
<br><hr>
    <div class="row">
        <hr>
        <div class="col-12">
            <small class="media-heading">Numero Telefónico</small><hr>
            <p class="h6"><strong>+{{usuario.prefijo}} {{usuario.telefono}}</strong></p>
            
        </div>
    </div>
</div>

