<h5 style="text-align: center">Listado de Cuartos</h5>
<br>
<table mdbTable class="table" hover="true">

    <thead class="grey lighten-1 black-text">
        <tr>
            <td>#</td>
            <td><fa-icon [icon]="faDoorClosed"></fa-icon><br> # de habitacion</td>
            <td><fa-icon [icon]="faBed"></fa-icon><br> # de Camas</td>
            <td><fa-icon [icon]="faMoneyBillWave"></fa-icon><br> Costo</td>
            <td><fa-icon [icon]="faUsers"></fa-icon><br> Disponibilidad</td>
            <td><fa-icon [icon]="faWind"></fa-icon><br> Aire</td>
            <td><fa-icon [icon]="faWifi"></fa-icon><br> Internet</td>
            <td><fa-icon [icon]="faUsersCog"></fa-icon><br> Compartido</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cuartos ; let i=index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{item.num_habitacion}}</td>
            <td>{{item.camas}}</td>
            <td>{{item.costo}}</td>
            <td>{{item.disponibilidad | boolean}}</td>
            <td>{{item.aire | boolean}}</td>
            <td>{{item.internet | boolean}}</td>
            <td>{{item.compartido | boolean}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/room', item.idcuarto]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)" ><fa-icon [icon]='faPencilAlt'></fa-icon></button>
                <button class="btn btn-sm btn-danger" (click)="delete(item)" ><fa-icon [icon]='faTrash'></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>
