<h5>{{title}}</h5>
<br>
<form [formGroup]="formHabitacion" (ngSubmit)="onSubmit()" class="habitacion">
    <div class="card-body">
        <div class="input-group-mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="num_cuarto" [(ngModel)]="habitacion.num_cuarto" [ngClass]="{'is-invalid': submitted && f.num_cuarto.errors }" type="text" class="form-control form-control-user" placeholder="Numero de cuarto">
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="fecha_entrada" type="date" [(ngModel)]="habitacion.fecha_entrada" [ngClass]="{'is-invalid': submitted && f.fecha_entrada.errors }" class="form-control form-control-user" placeholder="Fecha de entrada">
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="fecha_salida" type="date" [(ngModel)]="habitacion.fecha_salida" [ngClass]="{'is-invalid': submitted && f.fecha_salida.errors }" class="form-control form-control-user" placeholder="Fecha de salida">
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="observaciones" type="text" [(ngModel)]="habitacion.observaciones" [ngClass]="{'is-invalid': submitted && f.observaciones.errors }" class="form-control form-control-user" placeholder="Observaciones">
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="idusuario" type="text" [(ngModel)]="habitacion.idusuario" [ngClass]="{'is-invalid': submitted && f.idusuario.errors }" class="form-control form-control-user" placeholder="idusuario">
                
            </div>
        </div>
        <hr>
        <div class="input-group-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUserCircle"></fa-icon></span>
            
                <input formControlName="idcuarto" type="text" [(ngModel)]="habitacion.idcuarto" [ngClass]="{'is-invalid': submitted && f.idcuarto.errors }" class="form-control form-control-user" placeholder="idcuarto">
                
            </div>
        </div>
        <hr>
        <br>
        <div class="btn-group">
            
            <button type="submit"  class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
            &nbsp;&nbsp;<button type="reset" class="btn btn-danger">
                <fa-icon [icon]='faTimes' (click)="onReset()"></fa-icon>&nbsp;Cancelar</button>
        </div>
    </div>
</form>
