<br>
<h5>
    {{usuario.nombre}} {{usuario.apellido}}
</h5>
<br>

<div class="container">
    
    <div class="media">
        <div class="media-left">
            <div><fa-icon [icon]='faUserCircle'></fa-icon></div>
        </div>    
        <div class="media-body">
            <h6 class="media-heading">Nombre</h6>
            <p>{{usuario.nombre}}</p>
        </div>
    </div>
    <br>
    <div class="media">
        <div class="media-left">
            <div><fa-icon [icon]='faUserCircle'></fa-icon></div>
        </div>    
        <div class="media-body">
            <h6 class="media-heading">Apellido</h6>
            <p>{{usuario.apellido}}</p>
        </div>
    </div>
    <br>
    <div class="media">
        <div class="media-left">
            <div><fa-icon [icon]='faUserCircle'></fa-icon></div>
        </div>    
        <div class="media-body">
            <h6 class="media-heading">Nacionalidad</h6>
            <p>{{usuario.nacionalidad}}</p>
        </div>
    </div>
</div>